
@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');

        /* Set the size of the div element that contains the map */
        #map {
          height: 1000px;
          /* The height is 400 pixels */
          width: 100%;
          /* The width is the width of the web page */

        }
.my-label-class
{       font-family: "Source Sans Pro", serif;
        font-size: 50px; 
        -webkit-text-stroke: 1px red;
   color: white;
   text-shadow:
       3px 3px 0 rgb(255, 255, 255),
     -1px -1px 0 rgb(255, 255, 255),  
      1px -1px 0 rgb(255, 255, 255),
      -1px 1px 0 rgb(255, 255, 255),
       1px 1px 0 rgb(255, 255, 255);
        unicode-range:U+02C6-U+0323
}
    